


/*
Update so that there are flex boxes for the elements, also add a div
*/
.home-elements {
  display: flex;
  position: relative;
  z-index: 2;
  margin-top: 30vh;
  margin-left: 7.5%;
}

.profile-photo {
  width: 45%;
  height: 45%;
  border-radius: 3vh;
}

.home-info {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
}

.home-name {
  font-size:4.5vw;
  margin-left: 0vw;
  margin-top: 0vh;
}

.home-description {
  font-size: 2vw;
  margin-top: -2.5%;
  margin-left: 2.5vw;
}

.home-social {
  display:flex;
  flex-direction: row;
}

.home-social-first {
  height: 7.5vh;
  margin-left: 16vw;
  margin-right: 4vh;
  width: 30px;
  height: 30px;
}

.home-social-other1 {
  height: 7.5vh;
  margin-left: 3vh;
  margin-right: 3vh;
  width: 30px;
  height: 30px;
}

.home-social-other2 {
  height: 7.5vh;
  margin-left: 3vh;
  margin-right: 4vh;
  width: 30px;
  height: 30px;
  margin-top: 0vh;
}