.projects-title {
  position: relative;
  z-index: 2;
  font-size: 35px;
  font-weight: bold;
  margin-left: -75vw;
  margin-top: 12.5vh;
}

.project-img {
  width: 85%;
  height: 85%;
  border-radius: 5%;
}

a {
  text-decoration: none; /* Removes the underline */
  color: black;
}

.grid-container {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates a 3-column grid */
  grid-gap: 10px; /* Sets the gap between grid items */
}

.grid-item {
  text-align: center; /* Centers text horizontally */
  padding: 20px; /* Adds some padding inside the grid items */
  width: 95%;
  margin-left: 3.5%;
  height: 75;
  font-size: 15.5px;
  font-weight: bold;
  border-radius: 1.5vw;
}

.grid-item:hover {
  background-color: #f0f0f0;
}